/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

body {
    background-color: chartreuse;
}

header, footer { 
    background-color: coral;
}

h1 {
    text-align: center;
}

p {
    color:chartreuse;
    font-style: italic;
}

img {
    border: coral solid 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    font-family:monospace, serif;
}
